.map-container{
    width: 100% !important;
    position: relative !important;
}

.mapboxgl-canvas{
    width: 100% !important;
    position: relative !important;
}

@import url('https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.css');